/* You can add global styles to this file, and also import other style files */
*{
  font-family:  Vazirmatn;
}
h1, h2, h3, h4, h5, p{
  font-family:  Vazirmatn !important;
}
html, body{
  height: 100%;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
}
